@import "tailwindcss";

:root {
  --sidebarColor: #FCFAF8;
  --focusColor: #FFEFE5;
  --acccentColor: #DC4C3E;
  --fontClrSecondery: #646464;
}

@theme {
  --color-sidebarMain: var(--sidebarColor);
  --color-focusMain: var(--focusColor);
  --color-accentMain: var(--acccentColor);
  --color-fontSecondery: var(--fontClrSecondery);
}

.signinbg, .signupbg, .commonlayout {
  background-image: url(https://wallpapers.com/images/hd/red-white-and-black-abstract-1920-x-1080-86ew15vc9pz6p0le.jpg);
}